  <table class="min-w-full bg-white border border-gray-300">
  <thead>
    <tr>
      <th class="py-2 px-4 border">Week</th>
      {% for dev in devs %}
        <th class="py-2 px-4 border">{{ dev }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for week in schedule %}
      <tr>
        <td class="py-2 px-4 border">{{ week.date_range }}</td>
        {% for dev in devs %}
          <td class="py-2 px-4 border {% if week.assignments[dev] == 'On' %}bg-green-200{% elif week.assignments[dev] == 'Vacation' %}bg-red-200{% endif %}">
            {{ week.assignments[dev] }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>